appdirs==1.4.3
asn1crypto==0.24.0
Beaker==1.10.0
cffi==1.15.1
configparser==4.0.2
contextlib2==0.6.0.post1
cryptography==2.1.4
decorator==4.3.0
distlib==0.3.0
enum34==1.1.6
filelock==3.0.12
FormEncode==2.0.0a1
funcsigs==1.0.2
idna==2.6
importlib-metadata==1.6.0
importlib-resources==1.4.0
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
Mako==1.0.7
MarkupSafe==0.11
mysqlclient==1.3.12
nose==1.3.7
numpy==1.15.1
biopython==1.57
Paste==2.0.3
PasteDeploy==1.5.2
PasteScript==2.0.2
pathlib2==2.3.5
pycairo==1.11.1
pycparser==2.21
pycrypto==2.6.1
Pygments==2.2.0
pygobject==3.27.0
pygooglechart==0.4.0
Pylons==1.0
pyxdg==0.25
repoze.lru==0.7
repoze.what==1.0.9
repoze.what-pylons==1.0
repoze.what-quickstart==1.0.9
repoze.what.plugins.sql==1.0.1
repoze.who==1.0.19
repoze.who-friendlyform==1.0.8
repoze.who-testutil==1.0.1
repoze.who.plugins.sa==1.0.1
Routes==2.4.1
scandir==1.10.0
scikit-learn==0.19.2
scipy==1.1.0
SecretStorage==2.3.1
simplejson==3.16.0
singledispatch==3.4.0.3
six==1.11.0
sklearn==0.0
SQLAlchemy==1.2.11
Tempita==0.5.3.dev0
TurboMail==3.0.3
typing==3.7.4.1
virtualenv==20.0.18
WebError==0.13.1
WebHelpers==1.3
WebOb==1.0.8
WebTest==1.2.4
zipp==1.2.0
zope.interface==4.5.0
